#city {
  background: url(city2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  height: 450px;
}

#road {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(road.jpg);
  width: auto;
  height: 190px;
}

#img {
  width: 150px;
}

#btn {
  background-color: greenyellow;
  width: 100px;
  font-size: 25px;
}

#dbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
